.DS_Store
/node_modules/
/lib/
.bsb.lock
*.bs.js
.merlin

# NOT in PnP / Zero-Installs mode, as not supported by ReScript yet!
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.parcel-cache
dist

.idea
.vscode
